body {
    background: #464646;
}

@media only screen and (min-width: 600px) {
    img, canvas {
        width:49.5%;   
    }
}

@media only screen and (max-width: 600px) {
    img, canvas {
        width:100%;
    }
}

canvas {
    background-image: url("assets/stage.png");
    background-size: 100%;
}


