body {
    background: #464646;
}

@font-face{
    font-family: n_g;
    src: url("/assets/fonts/Neuzeit_Grotesk.otf")
}

#preloadfont {
    font-family: n_g;
    opacity:0;
    height:0;
    width:0;
    display:inline-block;
}

@media only screen and (min-width: 600px) {
    img{
        width:49.5%;   
    }
    
    canvas{
        width: 49%;
    }
}

@media only screen and (max-width: 600px) {
    img, canvas {
        width:100%;
    }
}

canvas {
    background-image: url("assets/stage.png");
    background-size: 100%;
}


