body {
    background-color: #1a1a1a;
    font-family: "Segoe UI", sans-serif;
    color: white;
    font-size: 30px;
}

h1{
    font-weight: normal;
    padding-left: 0.5em;
    font-size: 45px;
}

.w3-content{
    padding-left: 2em;
    width: 80%;
}

footer {
    font-size: 12px;
    padding-left: 2em;
    color: grey;
}