body {
    background-color: #1a1a1a;
    font-family: "Segoe UI", sans-serif;
    color: white;
    font-size: 30px;
}

h1{
    font-weight: normal;
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 45px;
}

footer {
    font-size: 15px;
    float:right;
    padding-right: 6.6em;
    padding-top:6em;
    color: grey;
}