<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Jeremy Chen">
    <title>Not a Trello Clone</title>
    <link rel="shortcut icon" href="resources/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>-->
    <!--<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-storage.js"></script>-->
    <script src="js/trello.js" async></script>
    <link rel="stylesheet" href="style.css">
</head>

<div id="notTrello">
    <v-app id="board-vuetify">
        <!--activity tester-->
        <!--<v-btn @click="activity_add('asdf')">click me </v-btn>-->
        <v-toolbar color="grey lighten-5" light>
            <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="loggedIn"></v-toolbar-side-icon>
            <v-spacer></v-spacer>
            <v-toolbar-title>
                <b-img src="resources/logo.png" center fluid width="100%"/>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn v-if="!loggedIn" flat small @click="loadLogin">Log In</v-btn>
                <v-btn v-if="!loggedIn" flat small @click="loadSignup">Sign up</v-btn>
                <v-menu v-if="loggedIn" offset-y>
                    <v-btn flat small @click="profDropDown" slot="activator">
                        <v-avatar class="grey lighten-5">
                            <img v-bind:src="user_getImage()" alt="avatar"></v-avatar>
                    </v-btn>
                    <v-list>
                        <v-list-tile @click="">
                            <v-dialog persistent v-model="namedialog" max-width="42%">
                            <v-list-tile-title slot="activator">
                                <v-flex style="max-width: 20%;">Change name</v-flex>
                            </v-list-tile-title>
                                <v-card>
                                    <v-container fluid center grid-list-lg>
                                        <v-layout row wrap>
                                            <v-card-text class="headline">New name</v-card-text>

                                            <v-flex lg10 md10 sm10>
                                                <v-text-field
                                                        @keyup.enter = "user_changeName(currentUser, inname)"
                                                        value="inname"
                                                        v-model="inname"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-card-actions>
                                                <v-btn @click="user_changeName(currentUser, inname)">
                                                    done
                                                </v-btn>
                                            </v-card-actions>
                                        </v-layout>
                                    </v-container>

                                    </v-layout>
                                </v-card>
                            </v-dialog>
                        </v-list-tile>
                        <v-list-tile @click="">
                            <v-list-tile-title>
                                <v-dialog persistent v-model="userdialog" max-width="42%">
                                    <v-flex slot="activator" style="max-width: 20%;">Change email</v-flex>
                                    <v-card>
                                        <v-container fluid center grid-list-lg>
                                            <v-layout row wrap>
                                                <v-card-text class="headline">New email</v-card-text>

                                                <v-flex lg10 md10 sm10>
                                                    <v-text-field
                                                            @keyup.enter = "user_changeEmail(currentUser, inusername)"
                                                            value="inusername"
                                                            v-model="inusername"
                                                    ></v-text-field>
                                                </v-flex>
                                                <v-card-actions>
                                                    <v-btn @click="user_changeEmail(currentUser, inusername)">
                                                        done
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-layout>
                                        </v-container>

                                        </v-layout>
                                    </v-card>
                                </v-dialog>
                            </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="">
                            <v-list-tile-title>
                                <v-dialog persistent v-model="picdialog" max-width="42%">
                                    <v-flex slot="activator" style="max-width: 20%;">Change picture</v-flex>
                                    <v-card>
                                        <v-container fluid center grid-list-lg>
                                            <v-layout row wrap>
                                                <v-card-text class="headline">New picture</v-card-text>

                                                <v-flex lg10 md10 sm10>
                                                    <v-flex id="#gradBackground" xs12 class="text-xs-center">
                                                        <v-btn block @click="changeImgClick()">
                                                            Choose Image
                                                        </v-btn>
                                                        <input style="display: none;" ref="changeImgButton" type="file" id="files1" accept="image/*" name="files[]"/>
                                                    </v-flex>
                                                </v-flex>
                                                <v-card-actions>
                                                    <v-btn @click="user_changeImage(currentUser)">
                                                        done
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-layout>
                                        </v-container>

                                        </v-layout>
                                    </v-card>
                                </v-dialog>
                            </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile color="red darken-2" v-if="loggedIn" @click="logOut">
                            Sign out
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>
        </v-toolbar>
        <v-layout row>
            <v-spacer xs1></v-spacer>
            <v-navigation-drawer v-if="loggedIn"floating style="background:rgba(255,255,255,0);" right mini-variant mini-variant-width="90px" permanent color="transparent">
                <v-list>
                    <v-list-tile v-for="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]">
                        <v-btn flat color="transparent" disabled>
                        </v-btn>
                    </v-list-tile>

                    <v-list-tile>
                        <v-flex xs6></v-flex>
                        <v-btn fab small id="filterButton" icon>
                            <v-icon color="white large" large>filter_list</v-icon>
                        </v-btn>
                    </v-list-tile>
                    <v-list-tile>
                        <v-flex xs6></v-flex>
                        <v-btn fab small @click.native.stop="activitydialog = true" icon>
                            <v-icon color="white" large>
                                history
                            </v-icon>
                        </v-btn>
                    </v-list-tile>
                    <v-list-tile>
                        <v-flex xs6></v-flex>
                        <v-menu v-if="loggedIn" top left offset-y origin="top top"
                                transition="scale-transition">
                            <v-btn fab small id="palettButton" slot="activator" icon>
                                <v-icon color="white" large>palette</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile v-for="color in colors" :key="color" @click="changeColor(color)">
                                    <v-list-tile-title>
                                        <v-icon normal v-bind:color="color">lens</v-icon>
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>
                                        <v-dialog persistent v-model="backdialog" max-width="42%">
                                            <v-icon normal slot="activator">image</v-icon>
                                            <v-card>
                                                <v-container fluid center grid-list-lg>
                                                    <v-layout row wrap>
                                                        <v-card-text class="headline">New background image</v-card-text>
                                                        <v-flex lg10 md10 sm10>
                                                            <v-flex id="#gradBackground" xs12 class="text-xs-center">
                                                                <v-btn block @click="changeBkClick()">
                                                                    Choose Image
                                                                </v-btn>
                                                                <input style="display: none;" ref="changeBkButton" type="file" id="filesbk" accept="image/*" name="files[]"/>
                                                            </v-flex>
                                                        </v-flex>
                                                        <v-card-actions>
                                                            <v-btn @click="board_changeImage(currentBoard)">
                                                                done
                                                            </v-btn>
                                                        </v-card-actions>
                                                    </v-layout>
                                                </v-container>
        </v-layout>
        </v-card>
        </v-dialog>
        </v-list-tile-title>
        </v-list-tile>
        </v-list>
        </v-menu>

                    </v-list-tile>
                </v-list>
                <v-dialog v-model="activitydialog" max-width="50%">
                    <v-card>
                        <v-container fluid center grid-list-lg>
                            <v-list>
                                <v-list-tile v-for="activity in activity_allActivity()">
                                    {{activity[".value"]}}
                                </v-list-tile>
                            </v-list>
                        </v-container>
                    </v-card>
                </v-dialog>
            </v-navigation-drawer>
        </v-layout>
        <div id="gradBackground" style="min-height:100%">
            <v-navigation-drawer
                    temporary
                    v-model="drawer"
                    absolute
                    width="450"
                    style="overflow-y:hidden; background: #EEEEEE;"
                    color="grey lighten-3"
            >
             <v-toolbar dark id="gradBar">
                 <v-toolbar-title>
                     {{currboardname}}
                 </v-toolbar-title>
                 <v-spacer></v-spacer>
                <v-btn icon @click.stop="drawer = !drawer" absolute right>
                    <v-icon color="grey lighten-5">menu</v-icon>
                </v-btn>
             </v-toolbar>
                    <v-card style="overflow-x:hidden; overflow-y:hidden;" color="grey lighten-3" flat tile >
                            <v-card tile flat color="grey lighten-3">
                                <v-toolbar dense color="grey lighten-5">
                                    <v-toolbar-title> Starred Boards</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <!--<v-btn icon>-->
                                        <!--<v-icon color="grey darken-1">add</v-icon>-->
                                    <!--</v-btn>-->
                                </v-toolbar>
                                <v-list style="overflow-y:scroll; max-height: 22vh; min-height: 22vh;">
                                <v-list-tile v-for="sboard in board_starred()">
                                    <v-toolbar dark class="grad" flat dense v-if="sboard.id == currentBoard">
                                        <v-toolbar-title>{{sboard.name}}</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-btn icon small @click="board_changeboard(sboard)">
                                            <v-icon color="white">folder_open</v-icon>
                                        </v-btn>
                                        <!--<v-btn icon small @click="board_close(sboard)">-->
                                            <!--<v-icon color="white">archive</v-icon>-->
                                        <!--</v-btn>-->
                                        <v-btn icon small @click="board_unstar(sboard)">
                                            <v-icon color="amber lighten-3">star</v-icon>
                                        </v-btn>
                                    </v-toolbar>
                                    <v-toolbar flat dense v-else>
                                        <v-toolbar-title>{{sboard.name}}</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-btn icon small @click="board_changeboard(sboard)">
                                            <v-icon color="grey darken-1">folder_open</v-icon>
                                        </v-btn>
                                        <v-btn icon small @click="board_close(sboard)">
                                            <v-icon color="grey darken-1">archive</v-icon>
                                        </v-btn>
                                            <v-btn icon small @click="board_unstar(sboard)">
                                                <v-icon color="amber lighten-3">star</v-icon>
                                            </v-btn>
                                    </v-toolbar>
                                </v-list-tile>
                            </v-list>
                            </v-card>

                        <v-card tile flat color="grey lighten-3">
                            <v-toolbar dense>
                                <v-toolbar-title> Normie Boards</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-list style="overflow-y:scroll; max-height: 22vh; min-height: 22vh;">
                            <v-list-tile v-for="nboard in board_normie()">
                                <v-toolbar dark class="grad" flat dense v-if="nboard.id == currentBoard">
                                        <v-toolbar-title>{{nboard.name}}</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-btn icon small @click="board_changeboard(nboard)">
                                            <v-icon color="white">folder_open</v-icon>
                                        </v-btn>
                                        <!--<v-btn icon small @click="board_close(nboard)">-->
                                            <!--<v-icon color="white">archive</v-icon>-->
                                        <!--</v-btn>-->
                                        <v-btn icon small @click="board_star(nboard)">
                                            <v-icon color="white">star_border</v-icon>
                                        </v-btn>
                                    </v-toolbar>
                                <v-toolbar flat dense v-else>
                                    <v-toolbar-title>{{nboard.name}}</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-btn icon small @click="board_changeboard(nboard)">
                                        <v-icon color="grey darken-1">folder_open</v-icon>
                                    </v-btn>
                                    <v-btn icon small @click="board_close(nboard)">
                                        <v-icon color="grey darken-1">archive</v-icon>
                                    </v-btn>
                                    <v-btn icon small @click="board_star(nboard)">
                                        <v-icon color="grey darken-1">star_border</v-icon>
                                    </v-btn>
                                </v-toolbar>
                            </v-list-tile>
                            </v-list>
                        </v-card>
                        <v-card tile flat color="grey lighten-3">
                            <v-toolbar dense>
                                <v-toolbar-title> Archived Boards</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-list style="overflow-y:scroll; max-height: 22vh; min-height: 22vh;">
                                <v-list-tile v-for="cboard in board_closed()">
                                    <v-toolbar dark class="grad" flat dense v-if="cboard.id == currentBoard">
                                        <v-toolbar-title>{{cboard.name}}</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-btn icon small @click="board_unarchive(cboard)">
                                            <v-icon color="white">unarchive</v-icon>
                                        </v-btn>
                                    </v-toolbar>
                                    <v-toolbar flat dense v-if="cboard.id != currentBoard">
                                        <v-toolbar-title>{{cboard.name}}</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-btn icon small @click="board_unarchive(cboard)">
                                            <v-icon color="grey darken-1">unarchive</v-icon>
                                        </v-btn>
                                    </v-toolbar>
                                </v-list-tile>
                            </v-list>
                        </v-card>
                        <v-toolbar flat prominent color="transparent">
                            <v-spacer></v-spacer>
                            <v-btn fab @click.stop="boarddialog=true" color="red darken-5">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <v-dialog persistent style="overflow-y: hidden;" v-model="boarddialog" max-width="55%">
                                <v-card  style="overflow-y: hidden;" class="grad" dark>
                                    <v-container fluid center grid-list-lg>
                                        <v-layout row wrap>
                                            <v-card-text class="headline">New project board</v-card-text>
                                            <v-toolbar flat color="transparent">
                                            <v-flex lg10 md10 sm9>
                                                <v-text-field
                                                        @keyup.enter = "board_addNew()"
                                                        value="newBoardName"
                                                        v-model="newBoardName"
                                                ></v-text-field>
                                            </v-flex>
                                                <v-spacer></v-spacer>
                                                <v-btn class="grad" @click="board_addNew()">
                                                    done
                                                </v-btn>
                                            </v-toolbar>
                                        </v-layout>
                                    </v-container>

                                    </v-layout>
                                </v-card>
                            </v-dialog>
                        </v-toolbar>
                        <v-toolbar flat prominent color="transparent"></v-toolbar>
                    </v-card>
                <!--<v-toolbar dense class="grad">-->
                <!--</v-card>-->
                <!--</v-dialog>-->


                    <v-flex xs1></v-flex>
                </v-layout>
                <!--</v-toolbar>-->
            </v-navigation-drawer>
            <v-container center fluid id="welcome" v-if="!loggedIn&&!login&&!signup">
                <img src="resources/loljumbo.png" style="width:100%;">
            </v-container>

            <!-- BOARD SELECTION: TO DO -->
            <v-container center fluid grid-list-lg id="boardSelection" v-if="1==0" fill-height></v-container>
            <v-container center fluid grid-list-lg id="mainBoard" v-if="loggedIn" fill-height>
                <v-layout row>
                    <v-flex lg6 md6 sm11 v-for="list in board_lists()" :key="list.id">
                        <v-card color="grey lighten-3">
                            <v-toolbar color="grey lighten-5" dense>
                                <v-toolbar-title v-if="!list.beingNamed">{{list.myName}}</v-toolbar-title>
                                <v-toolbar-title v-if="list.beingNamed">
                                    <v-text-field
                                            @keyup.enter="list_rename(list)"
                                            name="list-name-input"
                                            v-model="currListName"
                                    ></v-text-field>
                                </v-toolbar-title>
                                <v-btn icon @click="list_rename(list)" v-if="!list.beingNamed">
                                    <v-icon small>mode_edit</v-icon>
                                </v-btn>
                                <v-btn icon v-if="list.beingNamed" @click="list_rename(list)">
                                    <v-icon small>check</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn icon @click="list_swapLeft(list, board_lists())">
                                    <v-icon>chevron_left</v-icon>
                                </v-btn>
                                <v-btn icon @click="list_swapRight(list, board_lists())">
                                    <v-icon>chevron_right</v-icon>
                                </v-btn>
                                <v-btn v-if="list.isHidden" icon @click="list_toggleVis(list)">
                                    <v-icon color="red darken-5">add</v-icon>
                                </v-btn>
                                <v-btn icon v-if="!(list.isHidden)" @click="list_toggleVis(list)">
                                    <v-icon>remove</v-icon>
                                </v-btn>
                                <!--<v-btn icon>-->
                                    <!--<v-icon>more_vert</v-icon>-->
                                <!--</v-btn>-->
                            </v-toolbar>
                            <v-expansion-panel expand v-if="!list.isHidden" popout style="overflow-y: scroll; max-height: 72vh;">
                                <v-expansion-panel-content v-for="card in card_getCards(list, '')" style="overflow-x: hidden;" :key="card.id" color="grey lighten-3">

                                    <div v-if="!card.beingNamed" slot="header">
                                        <v-toolbar dense flat color="transparent">
                                            <v-toolbar-title style="color:#424242; font-size:18px;">{{card.myName}}</v-toolbar-title>
                                            <v-btn icon @click="card_rename(card)" v-if="!card.beingNamed">
                                                <v-icon small color="grey darken-2">mode_edit</v-icon>
                                            </v-btn>
                                            <v-btn icon v-if="card.beingNamed" fab small color="grey darken-2"
                                                   @click="card_rename(card)">
                                                <v-icon small color="white">check</v-icon>
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                        </v-toolbar>
                                    </div>
                                    <div v-if="card.beingNamed" slot="header">
                                        <v-toolbar dense flat color="transparent">
                                            <v-text-field
                                                    @keyup.enter = "card_rename(card)"
                                                    name="card-name-input"
                                                    label="Card name"
                                                    v-model="currCardName"
                                            ></v-text-field>
                                            <v-btn icon fab small color="grey darken-2"
                                                   @click="card_rename(card)">
                                                <v-icon small color="white">check</v-icon>
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                        </v-toolbar>
                                    </div>

                                    <v-card>
                                        <v-card color="grey lighten-4" id="description">
                                            <v-toolbar dense color="transparent" flat>
                                                <v-toolbar-title style="color: darkgrey;">
                                                    Description
                                                </v-toolbar-title>
                                                <v-spacer></v-spacer>
                                                <v-btn small icon @click="card_describe(card)" v-if="!card.describing">
                                                    <v-icon small color="grey darken-1">mode_edit</v-icon>
                                                </v-btn>
                                                <v-btn small icon v-if="card.describing" fab small color="grey darken-1"
                                                       @click="card_describe(card)">
                                                    <v-icon small color="white">check</v-icon>
                                                </v-btn>
                                            </v-toolbar>
                                            <v-toolbar dense color="white" flat>
                                                <v-card-text v-if="!card.describing" v-html="card.description"></v-card-text>
                                                <v-card-text v-if="card.describing">
                                                    <v-text-field
                                                            @keyup.enter = "card_describe(card)"
                                                            name="card-description-input"
                                                            value="card.description"
                                                            v-model="currCardDescription"
                                                    ></v-text-field>
                                                </v-card-text>

                                            </v-toolbar>

                                        </v-card>
                                        <v-layout row wrap>
                                            <v-flex xs12>
                                                <v-toolbar dense flat color="">
                                                    <v-toolbar-title style="color: darkgrey;">Todos</v-toolbar-title>
                                                    <v-spacer></v-spacer>
                                                    <v-btn small icon v-if="!card.todoing" @click="card_startStopTodoing(card)">
                                                        <v-icon small color="grey darken-1">playlist_add</v-icon>
                                                    </v-btn>
                                                    <v-flex xs9 v-if="card.todoing">
                                                        <v-text-field
                                                                label="Press enter to create your todo"
                                                                @keyup.enter="todo_addNew(card)"
                                                                v-model="currCardTodo"
                                                        ></v-text-field>
                                                    </v-flex>
                                                </v-toolbar></v-flex>
                                            <v-list>
                                                <v-list-tile v-for="todo in card_todos(card)">
                                                    <v-chip disabled close @input="todo_delete(todo)" color="grey lighten-4">
                                                        <v-avatar>
                                                            <v-btn icon small @click="todo_check(todo)">
                                                            <v-icon small color="grey darken-1" v-if="todo.done">check_box</v-icon>
                                                            <v-icon small color="grey darken-1" v-else>check_box_outline_blank</v-icon>
                                                        </v-btn>
                                                        </v-avatar>
                                                        <span v-if="todo.done" style="text-decoration: line-through">{{todo.task}}</span>
                                                        <span v-else="todo.done">{{todo.task}}</span>

                                                    </v-chip>
                                                </v-list-tile>
                                            </v-list>

                                        </v-layout>
                                                <v-layout row wrap>
                                                    <v-flex xs12>
                                                        <v-toolbar dense flat color="">
                                                            <v-toolbar-title style="color: darkgrey;">Comments</v-toolbar-title>
                                                            <v-spacer></v-spacer>
                                                            <v-btn small icon v-if="!card.commenting" @click="card_startStopCommenting(card)">
                                                                <v-icon small color="grey darken-1">comment</v-icon>
                                                            </v-btn>
                                                            <v-flex xs9 v-if="card.commenting">
                                                                <v-text-field
                                                                        label="Press enter to create your comment"
                                                                        @keyup.enter="card_addComment(card)"
                                                                        v-model="currCardComment"
                                                                ></v-text-field>
                                                            </v-flex>
                                                        </v-toolbar></v-flex>
                                                    <v-list>
                                                    <v-list-tile v-for="comment in card_comments(card)">
                                                        <v-chip disabled close @input="comment_delete(comment)" color="grey lighten-4">
                                                            <!--<v-avatar> <img v-bind:src="getImage(comment.userId)"></v-avatar>-->
                                                                        <!--user avatars buggy, fix if time-->
                                                            {{comment.text}}
                                                        </v-chip>
                                                    </v-list-tile>
                                                    </v-list>
                                                </v-layout>
                                        <v-layout row wrap>
                                            <v-flex xs12>
                                                <v-toolbar dense flat color="">
                                                    <v-toolbar-title style="color: darkgrey;">Attachments</v-toolbar-title>
                                                    <v-spacer></v-spacer>

                                                    <v-dialog persistent v-model="attdialog" max-width="42%">

                                                        <v-card>
                                                            <v-container fluid center grid-list-lg>
                                                                <v-layout row wrap>
                                                                    <v-card-text class="headline">Image attachment</v-card-text>

                                                                    <v-flex lg10 md10 sm10>
                                                                            <v-btn block @click="newAttachmentClick()">
                                                                                Choose Image
                                                                            </v-btn>
                                                                    </v-flex>
                                                                    <v-card-actions>
                                                                        <v-btn @click="attachment_addNew(card)">
                                                                            done
                                                                        </v-btn>
                                                                    </v-card-actions>
                                                                </v-layout>
                                                            </v-container>
                                                        </v-card>
                                                        <v-btn small icon slot="activator" @click="setCurrCard(card)">
                                                            <v-icon small color="grey darken-1">attach_file</v-icon>
                                                        </v-btn>
                                                </v-dialog>
                                                </v-toolbar></v-flex>
                                            <v-container grid-list-med fluid>
                                                <v-layout row wrap>
                                                    <v-dialog v-model="asdfdialog" min-width="60%">
                                                        <v-card>
                                                            <v-card-media v-bind:src="currimg" height="">
                                                            </v-card-media>
                                                        </v-card>
                                                    </v-dialog>
                                                <v-flex xs2 v-for="att in card_atts(card)">
                                                    <v-btn fab @click.stop="asdftoggle(att)"> <img v-bind:src="att.image" style="border-radius:50%; max-width: 100%;" ></v-btn>
                                                </v-flex>

                                                </v-layout>
                                            </v-container>
                                        </v-layout>
                                        <v-toolbar dense flat color="grey lighten-5">
                                            <v-btn icon @click="card_moveLeft(card, list, board_lists())">
                                                <v-icon color="grey darken-2">chevron_left</v-icon>
                                            </v-btn>
                                            <v-btn icon @click="card_moveRight(card, list, board_lists())">
                                                <v-icon color="grey darken-2">chevron_right</v-icon>
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <v-chip disabled outline small>
                                                Created {{card.created}}
                                            </v-chip>

                                            <v-chip small disabled outline color="red darken-1" text-color="red darken-1">
                                                <v-avatar large>
                                                    <v-menu offset-x left allow-overflow full-width>
                                                        <v-btn slot="activator" icon small @click="card_deadline(card)">
                                                            <v-icon small color="red darken-1">date_range</v-icon>
                                                        </v-btn>
                                                            <v-flex xs12 sm6>
                                                                <v-date-picker color="red darken-1" v-model="currCardDeadline" v-on:input="card_deadline(card)" ></v-date-picker>
                                                            </v-flex>
                                                    </v-menu>
                                                </v-avatar>
                                                {{card.deadline}}
                                            </v-chip>

                                            <v-btn @click="card_delete(card)" icon>
                                                <v-icon color="grey darken-2">delete</v-icon>
                                            </v-btn>
                                        </v-toolbar>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>

                            <v-toolbar v-if="!list.isHidden" dense flat color="grey lighten-4">
                                <v-btn @click="card_addNew(list)" fab small color="red darken-5">
                                    <v-icon color="white">add</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn @click="list_delete(list)" icon>
                                    <v-icon color="grey darken-2">delete</v-icon>
                                </v-btn>
                            </v-toolbar>
                        </v-card>
                    </v-flex>

                    <v-flex lg2 md2 sm12>
                        <v-card color="transparent" flat>
                            <v-toolbar dense color="transparent">
                                <v-btn block
                                       color="grey lighten-5"
                                       depressed
                                       flat
                                       @click="list_addNew()"
                                >add a list...
                                </v-btn>
                            </v-toolbar>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>

            <v-container id="logins" v-if="!loggedIn" fill-height>
                <v-card id="login-existing"
                        v-if="login"
                        color="grey lighten-5"
                        style="min-width: 45%; margin:auto;">
                    <v-container fluid grid-list-lg>
                        <v-layout row>
                            <v-flex xs12>
                                <v-btn @click="closeLogin" icon normal>
                                    <v-icon normal color="grey darken-2">arrow_back</v-icon>
                                </v-btn>
                                <div class="text-xs-center">
                                    <div class="headline">Log in</div>
                                </div>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field
                                        name="username-input"
                                        label="Username or email"
                                        v-model="inusername"
                                        style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field v-if="invalidInput"
                                              name="password-input"
                                              error
                                              @keyup.enter = "enterLogin"
                                              :rules="[() => 'Incorrect username or password. Try again']"
                                              label="Password"
                                              v-model="inpassword"
                                              :append-icon="pwInvisible ? 'visibility' : 'visibility_off'"
                                              :append-icon-cb="() => (pwInvisible = !pwInvisible)"
                                              :type="pwInvisible ? 'password' : 'text'"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                                <v-text-field v-else
                                              name="password-input"
                                              label="Password"
                                              @keyup.enter = "enterLogin"
                                              v-model="inpassword"
                                              :append-icon="pwInvisible ? 'visibility' : 'visibility_off'"
                                              :append-icon-cb="() => (pwInvisible = !pwInvisible)"
                                              :type="pwInvisible ? 'password' : 'text'"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-flex class="text-xs-right">
                            <v-btn @click="enterLogin">let's go!</v-btn>
                        </v-flex>
                    </v-container>
                </v-card>


                <v-card fill-height id="signup-new"
                        v-if="signup" color="grey lighten-5"
                        style="min-width: 45%; margin:auto;">
                    <v-container fluid grid-list-lg>
                        <v-layout row>
                            <v-flex xs12>
                                <v-btn @click="closeSignup" icon normal>
                                    <v-icon normal color="grey darken-2">arrow_back</v-icon>
                                </v-btn>
                                <div class="text-xs-center">
                                    <div class="headline">Sign up!</div>
                                </div>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field v-if="invalidInput"
                                              name="firstname"
                                              error
                                              :rules="[() => 'Invalid input. Try again']"
                                              label="First name"
                                              v-model="inname"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                                <v-text-field v-else
                                              name="firstname"
                                              label="First name"
                                              v-model="inname"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field v-if="invalidInput"
                                              name="username-input"
                                              error
                                              :rules="[() => 'Invalid input. Try again']"
                                              label="Username or email"
                                              v-model="inusername"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                                <v-text-field v-else
                                              name="username-input"
                                              label="Username or email"
                                              v-model="inusername"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field v-if="invalidInput"
                                              name="password-input"
                                              error
                                              :rules="[() => 'Invalid input. Try again']"
                                              label="Password"
                                              v-model="inpassword"
                                              :append-icon="pwInvisible ? 'visibility' : 'visibility_off'"
                                              :append-icon-cb="() => (pwInvisible = !pwInvisible)"
                                              :type="pwInvisible ? 'password' : 'text'"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                                <v-text-field v-else
                                              name="password-input"
                                              label="Password"
                                              v-model="inpassword"
                                              :append-icon="pwInvisible ? 'visibility' : 'visibility_off'"
                                              :append-icon-cb="() => (pwInvisible = !pwInvisible)"
                                              :type="pwInvisible ? 'password' : 'text'"
                                              style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs2></v-flex>
                            <v-flex xs8 class="text-xs-center">
                                <v-btn block @click="newImgClick()">
                                    Choose Image
                                </v-btn>
                                <input style="display: none;" ref="newImgButton" type="file" id="files" accept="image/*" name="files[]"/>
                            </v-flex>
                            <v-flex xs2></v-flex>
                        </v-layout>
                        <v-flex class="text-xs-right">
                            <v-btn @click="enterSignup">let's go!</v-btn>
                        </v-flex>
                    </v-container>
                </v-card>
            </v-container>
        </div><input style="display: none;" ref="attachButton" type="file" id="card_attachments" accept="image/*" name="files[]"/>
    </v-app>
</div>

</html>