<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Jeremy Chen">
    <title>Not a Trello Clone</title>
    <link rel="shortcut icon" href="resources/favicon.png">
    <!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/boot;;lstrap.min.css"/>-->
    <!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="js/trello.js" async></script>
    <link rel="stylesheet" href="style.css">
</head>

<div id="notTrello">
    <v-app id="board-vuetify">
        <v-toolbar color="grey lighten-5" light>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-spacer></v-spacer>
            <v-toolbar-title><b-img src="resources/logo.png" center fluid width="100%"/></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn v-if="!loggedIn" flat small @click="loadLogin">Log In</v-btn>
                <v-btn v-if="!loggedIn" flat small @click="loadSignup">Sign up</v-btn>
                <v-btn v-if="loggedIn" flat small @click="profDropDown">
                    <v-avatar class="grey lighten-5">
                    <img src="resources/low res andy.jpg" alt="avatar">
                </v-avatar></v-btn>
                <v-btn v-if="loggedIn" flat small @click="logOut">Sign out</v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <div id="gradBackground" style="min-height:100%">
            <v-container center fluid id="welcome" v-if="!loggedIn&&!login&&!signup">
                <img src="resources/loljumbo.png" style="width:100%;">
            </v-container>

            <v-container center fluid grid-list-lg id="mainBoard" v-if="loggedIn" fill-height>
                <v-layout row>

                    <v-flex lg3 md3 sm12 v-for="list in lists" :key="list.id">
                        <v-card color="grey lighten-3">
                            <v-toolbar color="grey lighten-5" dense>
                                <v-toolbar-title v-if="!list.naming">{{list.name}}</v-toolbar-title>
                                <v-toolbar-title v-if="list.naming">
                                    <v-text-field
                                            name="list-name-input"
                                            v-model="list.name"
                                    ></v-text-field>
                                </v-toolbar-title>
                                <v-btn icon @click="list.rename()" v-if="!list.naming">
                                    <v-icon small>mode_edit</v-icon>
                                </v-btn>
                                <v-btn icon v-if="list.naming"  @click="list.rename()">
                                    <v-icon small>check</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn icon @click="shiftListLeft(list)">
                                    <v-icon>chevron_left</v-icon>
                                </v-btn>
                                <v-btn icon @click="shiftListRight(list)">
                                    <v-icon>chevron_right</v-icon>
                                </v-btn>
                                <v-btn icon @click="list.toggleVis()">
                                    <v-icon v-if="list.hidden">add</v-icon>
                                    <v-icon v-if="!(list.hidden)">remove</v-icon>
                                </v-btn>
                                <v-btn icon>
                                    <v-icon>more_vert</v-icon>
                                </v-btn>


                            </v-toolbar>
                            <v-expansion-panel expand v-if="!list.hidden" inset>
                                <v-expansion-panel-content v-for="card in cards" v-if="list.cards.indexOf(card.id)>=0":key="card.id" color="grey lighten-3">
                                    <div v-if="!card.naming" slot="header">
                                        {{card.name}}
                                    </div>
                                    <div v-if="card.naming" slot="header">
                                        <v-text-field
                                            name="card-name-input"
                                            label="Card name"
                                            v-model="card.name"
                                    ></v-text-field>

                                    </div>
                                    <v-card>
                                        <v-card-text v-if="!card.naming">{{card.description}}</v-card-text>
                                        <v-card-text v-if="card.naming"><v-text-field
                                                multi-line
                                                name="card-name-input"
                                                label="Card description"
                                                value="card.description"
                                                v-model="card.description"
                                        ></v-text-field></v-card-text>

                                        <v-toolbar dense flat color="grey lighten-5">
                                            <v-btn icon>
                                                <v-icon>chevron_left</v-icon>
                                            </v-btn>
                                            <v-btn icon>
                                                <v-icon>chevron_right</v-icon>
                                            </v-btn>
                                            <v-btn icon @click="card.rename()" v-if="!card.naming">
                                                <v-icon >mode_edit</v-icon>
                                            </v-btn>
                                            <v-btn icon v-if="card.naming"  @click="card.rename()">
                                                <v-icon>check</v-icon>
                                            </v-btn>
                                            <v-spacer></v-spacer>
                                            <v-btn @click="deleteCard(card, list)" icon>
                                                <v-icon>delete</v-icon>
                                            </v-btn>
                                        </v-toolbar>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>

                            <v-toolbar v-if="!list.hidden" dense flat color="grey lighten-3">
                                <v-btn @click="addNewCard(list)" icon fab small color="red lighten-1">
                                    <v-icon color="white">add</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn @click="deleteList(list)" icon>
                                    <v-icon>delete</v-icon>
                                </v-btn>
                            </v-toolbar>
                        </v-card>
                    </v-flex>

                    <v-flex lg2 md2 sm12>
                        <v-card color="grey lighten-5">
                            <v-toolbar dense color="grey lighten-5">
                                <v-btn block
                                       light
                                       color="grey lighten-5"
                                       depressed
                                       @click="addList"
                                >add a list...</v-btn>
                            </v-toolbar>
                        </v-card>
                    </v-flex>

                </v-layout>
            </v-container>

            <v-container id="logins" v-if="!loggedIn" fill-height>
                <v-card id="login-existing"
                        v-if="login"
                        color="grey lighten-5"
                        style="min-width: 45%; margin:auto;">
                    <v-container fluid grid-list-lg>
                        <v-layout row>
                            <v-flex xs12>
                                <v-btn @click="closeLogin" icon normal><v-icon normal color="grey darken-2">arrow_back</v-icon></v-btn>
                                <div class="text-xs-center">
                                    <div class="headline">Log in</div>
                                </div>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field
                                        name="username-input"
                                        label="Username or email"
                                        v-model="username"
                                        style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field
                                        name="password-input"
                                        label="Password"
                                        v-model="password"
                                        :append-icon="pwInvisible ? 'visibility' : 'visibility_off'"
                                        :append-icon-cb="() => (pwInvisible = !pwInvisible)"
                                        :type="pwInvisible ? 'password' : 'text'"
                                        style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-flex class="text-xs-right">
                            <v-btn @click="enterLogin">let's go!</v-btn>
                        </v-flex>
                    </v-container>
                </v-card>


            <v-card fill-height id="signup-new"
                    v-if="signup"color="grey lighten-5"
                        style="min-width: 45%; margin:auto;">
                    <v-container fluid grid-list-lg>
                        <v-layout row>
                            <v-flex xs12>
                                <v-btn @click="closeSignup" icon normal><v-icon normal color="grey darken-2">arrow_back</v-icon></v-btn>
                                <div class="text-xs-center">
                                    <div class="headline">Sign up!</div>
                                </div>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field
                                        name="firstname"
                                        label="First name"
                                        v-model="name"
                                        style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field
                                        name="username-input"
                                        label="Username or email"
                                        v-model="username"
                                        style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex xs12 class="text-xs-center">
                                <v-text-field
                                        name="password-input"
                                        label="Password"
                                        v-model="password"
                                        :append-icon="pwInvisible ? 'visibility' : 'visibility_off'"
                                        :append-icon-cb="() => (pwInvisible = !pwInvisible)"
                                        :type="pwInvisible ? 'password' : 'text'"
                                        style="width: 80%; display: inline-block;"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-flex class="text-xs-right">
                            <v-btn @="enterSignup">let's go!</v-btn>
                        </v-flex>
                    </v-container>
                </v-card>
            </v-container>
        </div>
    </v-app>
</div>
</html>