/*
 * Jeremy Chen jc587
 */



v-text-field{
    display:inline-block;
    width: 50%;
}

/*
 * Below is a rainbow gradient animation, credit to: Ian Forrest
 */
#gradBackground, #gradBar, .grad {
    background: linear-gradient(173deg, #2fd9ad, #24a6da, #c324da, #da8024, #e64646);
    background-size: 1000% 1000%;
    -webkit-animation: WavyGrad 35s ease infinite;
    -moz-animation: WavyGrad 35s ease infinite;
    -o-animation: WavyGrad 35s ease infinite;
    animation: WavyGrad 35s ease infinite;
}

@-webkit-keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-o-keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes WavyGrad {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
/*
 * Ian Forrest's gradient code ends here
 */

/*
 * allow for horizontal scrolling
 */
#gradBackground{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

html {
    overflow-y: hidden;
}

/*input {*/
    /*visibility: hidden;*/
/*}*/